body {
  margin: 0 auto;
  padding-left: 10px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 95%;
  height: 120px;
  border-bottom: 1pt solid black;
  background-color: white;

}

.container {
	padding-top:121px;
	width: 95%;
}

header p {
	color:rgb(10 209 158);
	font-size: 18px;
	font-weight:bold;
	height:58px;
    line-height:58px;
    padding-left: 8px;
}

nav span {
	padding: 20px;
	font-weight: bold;
	color: black;
	font-size: 20px;
}


a:visited {
	color: black;
}
