body {
	margin: 0 8px;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  height: 80px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1pt solid black;
  background-color: white;
  width: 100%;
}

.logo {
	display: flex;
	align-items: center;
	padding-left: 30px;
	flex-grow: 11;
}

header nav {
	flex-grow: 1;

}

.logo span {
	font-size: 16px;
	color: mediumaquamarine;
	padding-left: 10px;
}

.logo img {
	height: 70px;
}

nav span {
	font-size: 15px;
	padding-right: 27px;
}


.image.phish {
	display: flex;
	align-items: center;
	font-family: Georgia;
	height: 300px;
	background-image: url(../images/img-story-main.png);
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    color: white;
}

.image.phish span {
	padding-left: 20px;
}

h2 {
	font-family: Georgia;
	font-weight: bold;
	font-size: 30px;

}

.container {
	display: flex;
	padding:60px 40px;


}
.container.large {

  width: 630px;
  flex-direction: column;

}

.container.medium {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.container.small {
  width: 240px;
  display: flex;
}


.articleThree {

	background-image: url(../images/img-story-2.png);
	height: 300px;
	background-repeat: no-repeat;

}

.articleFive {

	background-image: url(../images/img-story-3.png);
	height: 300px;
	background-repeat: no-repeat;
}

.articleSeven span {
	background-image: url(../images/img-story-1.png);
	height: 300px;
	background-repeat: no-repeat;
}

.articleThree, .articleFive, .articleSeven .imageTitle span {
	display: flex;
	text-align: center;
	align-items: center;
	padding-left: 20px;
	color: white;
	font-family: Georgia;
	font-weight: bold;
	font-size: 30px;
}

.articles {
	display: flex;
	  justify-content: space-between;

}

.article {
	  display: flex;
  flex-direction: column;
  width: 300px;
}

p {
	font-family: Georgia;
	font-size: 17px;
	color: black;
}

ul {
	list-style-type: none;
	padding:0;
	margin:0;
}