
body {
  margin: 0 auto;
  max-width: 95em;
}

header {
  background-color: white;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 150px;
  border-bottom: 1pt solid black;

}

nav {
	display: flex;
	justify-content: center;
}


a {
  text-decoration: none;
}


